.container{
    display:grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 10px;
    margin: 20px;
    
}

.cell:hover{
    cursor: pointer;
}

.cell{
    
    background-color: rgb(82, 231, 206);
    border-radius: 10px;
    font-size: 100px;
    text-align: center;
    padding-top: 15px;

}

#restartButton{
    margin-left: 20px;
}